In [49]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import accuracy_score

In [20]:
df = pd.read_csv('./final.csv')
df.shape
df = df.drop(columns = ['seats', 'years', 'zip', 'sections', 'gender'])

In [21]:
df.head()

,id,seat_end,seat_start,number_seats,num_years,renewed,attendance,performance,tix_num,distance,num_sections,multiple_sections,lower_level,club_level,upper_level,gender_num,date
0,19394004,18,15,4,2,0,0.877907,0.54878,172,14.946578,1,0,1,0,0,2,2015
1,1509142,20,3,18,1,0,0.900840,0.54878,3096,0.888478,7,1,1,0,1,2,2015
2,9239498,2,1,2,5,1,0.860465,0.54878,86,51.970912,1,0,1,0,0,2,2015
3,1740091,8,5,4,5,1,0.802326,0.54878,172,17.576266,1,0,1,0,0,2,2015
4,1688543,14,7,8,1,0,0.744186,0.54878,86,9.195564,2,1,1,0,0,2,2015

In [59]:
train = df[df['date'] !=2018].drop(columns = ['date'])
test = df[df['date'] == 2018].drop(columns = ['date'])

In [60]:
train

,id,seat_end,seat_start,number_seats,num_years,renewed,attendance,performance,tix_num,distance,num_sections,multiple_sections,lower_level,club_level,upper_level,gender_num
0,19394004,18,15,4,2,0,0.877907,0.54878,172,14.946578,1,0,1,0,0,2
1,1509142,20,3,18,1,0,0.900840,0.54878,3096,0.888478,7,1,1,0,1,2
2,9239498,2,1,2,5,1,0.860465,0.54878,86,51.970912,1,0,1,0,0,2
3,1740091,8,5,4,5,1,0.802326,0.54878,172,17.576266,1,0,1,0,0,2
4,1688543,14,7,8,1,0,0.744186,0.54878,86,9.195564,2,1,1,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9053,52217695,4,3,2,1,0,0.963415,0.54878,82,5.133145,1,0,0,0,1,2
9054,73557664,6,3,4,1,0,0.841463,0.54878,164,1.959883,1,0,0,0,1,2
9055,49609605,16,15,2,1,0,0.550000,0.54878,80,11.042246,1,0,0,0,1,1
9056,98092664,14,1,14,1,0,0.910256,0.54878,156,17.545471,2,1,0,0,1,2
9057,4368961,11,10,2,1,0,0.646341,0.54878,82,11.042246,1,0,0,0,1,2

In [61]:
test.shape

(1446, 16)

In [62]:
X_train = train.drop(columns = ['renewed'])
X_test = test.drop(columns = ['renewed'])
y_train = train['renewed']
y_test = test['renewed']

In [63]:
y_train.value_counts(normalize = True)

1    0.534025
0    0.465975
Name: renewed, dtype: float64

In [64]:
rf = RandomForestClassifier(random_state=42)
rf_params = {'n_estimators':[5], 'max_depth':[3], 'max_features':[None,7,10]}
gs = GridSearchCV(rf, rf_params, cv = 5)
gs.fit(X_train, y_train)
print(gs.best_score_)
print(gs.best_params_)

0.7611665790856542
{'max_depth': 3, 'max_features': 7, 'n_estimators': 5}

In [65]:
gs.score(X_test, y_test)

0.2814661134163209

In [66]:
preds = gs.predict(X_test)

In [67]:
accuracy_score(y_test, preds)

0.2814661134163209

In [68]:
lr = LogisticRegressionCV()
lr.fit(X_train, y_train)
lr.score(X_train, y_train)
# lr.score(X_test, y_test)

/Users/jeffwthomas/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

0.5960325801366264

In [69]:
lr.score(X_test, y_test)

0.5442600276625172

In [70]:
X = df.drop(columns = ['renewed', 'date'])
y = df['renewed']

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify = y)

In [72]:
lr.fit(X_train, y_train)
lr.score(X_train, y_train)
lr.score(X_test, y_test)

/Users/jeffwthomas/anaconda3/lib/python3.7/site-packages/sklearn/model_selection/_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)

0.6247240618101545

In [73]:
gs.fit(X_train,y_train)
print(gs.best_score_)
print(gs.best_params_)

0.8140733107610776
{'max_depth': 3, 'max_features': 10, 'n_estimators': 5}

In [74]:
preds = gs.predict(X_test)

In [75]:
accuracy_score(y_test, preds)

0.7995584988962472